$body-bg: rgba(191, 224, 250, 0.993); //rgb(215, 233, 247)
$card-bg: rgb(250, 232, 204);
$border-bg: rgba(251, 253, 182, 0.76);
$pend-bg: rgb(249, 243, 223);
$btn-bg: rgb(154, 220, 255);
$drop: rgb(240, 202, 182);
